/*
 * hide effect
-*/

.hide-effect:hover,.hide-effect:focus,.hide-effect:active,
.hide-effect:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover,
.hide-effect:focus ~ .hide-effect::before {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}
